.banner{
  .inner {
    cursor: pointer;
    display: block;
    height: 224px;
    width: 100%;
    background: url(https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/banner_1920_ua.jpg) 50% 0 no-repeat;
  }
}

@media only screen and (max-width: 1024px) {
  .banner{
    background: $primary1;
    .inner {
      display: block;
      height: 187px;
      width: 100%;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 960px) {
  .banner{
    background: $primary1;
    .inner {
      display: block;
      height: 187px;
      width: 100%;
      background: url(https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/banner_bg_tab_ua.jpg) 50% 0 no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 767px) {
  .banner{
    .inner {
      margin: 0 auto;
      border-radius: 8px;
      display: block;
      height: 300px;
      width: 320px;
      background: url(https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/banner_bg_mob_ua.jpg) 50% 0 no-repeat;
    }
  }
}