.gifts {
  background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/gifts_bg.jpg ") center top no-repeat;
  background-size: cover;
  padding: 60px 0;

  .gifts_title {
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: $primary3;
    margin: 0 0 10px 0;
    font-family: $font-medium !important;
  }

  .gifts_subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $white;
    margin: 0 0 35px 0;
    font-family: $font-main;
  }

  .gifts_list {
    display: flex;
    justify-content: space-between;

    .gifts_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 calc(100% / 4 - 40px);

      .gift_link {
        text-decoration: none;
        cursor: pointer;
        display: block;
        transition: color 0.3s;
        &:hover, &:active {
          h3{
            color: $primary3;
          }
           img {
            transform: scale(1.05);
          }
          .gifts_item_img .mistletoe {
            img {
              transform: scale(1.25) translateY(-20px);
            }
          }
        }
      }

      .gifts_item_img {
        position: relative;
        height: 331px;
        display: flex;
        align-items: flex-end;

        .img_main {
          position: relative;
          z-index: 1;

          img {
            transition: transform 0.3s ease-in-out;
            max-width: 100%;
          }

          &.mistletoe {
            img {
              transform: scale(1.2) translateY(-20px);
            }
          }
        }
      }

      h3 {
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: $white;
        min-height: 60px;
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }

      .gifts_btn {
        margin-top: 78px;
        display: block;
        text-decoration: none;
        cursor: pointer;

        width: 234px;
        height: 89px;
        background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/gift_btn.svg") top center no-repeat;
        background-size: cover;
        text-decoration: inherit;
        border: none;
        outline: none;

        position: relative;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        transition: all 0.3s ease;

        span {
          font-family: $font-medium !important;
          font-size: 24px;
          line-height: 26px;
          color: #000000;
        }

        &:hover, &:active {
          background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/gift_btn_hover.svg") top center no-repeat;
          background-size: cover;

          span {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .gifts_btn_list_mob {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .gifts {

    .gifts_title {
      font-size: 24px;
      line-height: 29px;
    }

    .gifts_list {
      display: flex;
      justify-content: space-between;

      .gifts_item {

        .gifts_item_img {
          height: 232px;
        }

        h3 {
          font-size: 20px;
          line-height: 24px;
          min-height: 50px;
        }

        .gifts_btn {
          margin-top: 52px;

          width: 163px;
          height: 62px;

          span {
            font-size: 20px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .gifts {

    .gifts_title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 0 5px 0;
    }

    .gifts_subtitle {
      font-size: 18px;
      line-height: 22px;
    }

    .gifts_list {
      flex-wrap: wrap;
      max-width: 286px;
      margin: 0 auto;

      .gifts_item {
        margin-top: 14px;
        flex: 0 0 calc(100% / 2 - 18px);

        .gifts_item_img {
          position: relative;
          height: 160px;
          display: flex;
          align-items: flex-end;

          .img_main {
            position: relative;
            z-index: 1;

            img {
              max-width: 100%;
            }
          }
        }

        h3 {
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          min-height: 60px;
          margin-top: 15px;
        }

        .gifts_btn {
          display: none;
        }
      }
    }

    .gifts_btn_list_mob {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 286px;
      margin: 0 auto;


      .list_item {
        display: flex;
        flex: 0 0 calc(100% / 2 - 10px);

        .gifts_btn {
          margin-top: 15px;
          display: block;
          text-decoration: none;
          cursor: pointer;

          width: 135px;
          height: 45px;
          background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/gift_btn_mob.svg") top center no-repeat;
          background-size: cover;
          text-decoration: inherit;
          border: none;
          outline: none;

          position: relative;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          transition: all 0.3s ease;

          span {
            font-family: $font-medium !important;
            font-size: 18px;
            line-height: 20px;
            color: #000000;
          }

          &:hover, &:active {
            background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/saint_nikolay/gift_btn_hover_mob.svg") top center no-repeat;

            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


}
