.showcase_f {
  background: url("/assets/img/common/showcase_f.jpg") center top no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 595px;

  .showcase_f_btn {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

}