[v-cloak] {
	opacity: 0;
}

html,
body {
}

body {
	//font-family: $font-main;

}

.popup-opened{
	overflow: hidden;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.baby_day{
	background: #fff4d5;
}
.baby_day .container *{
	font-family: "Montserrat" !important;
}

.img-wr {
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.row {
	display: flex;
}

img{
	display: block;
}

.container {
	@include min-max(320px, 1920px, 0);
	overflow: hidden;

	//styles to remove wrapper on server side styles
	//max-width: initial !important;
	padding: 0!important;
}

.wrap {
	//@include min-max(320px, 1600px, 18%);
	@include min-max(320px, 1300px, 0);
}

ol{
	li{
		list-style: decimal;
	}
}