$black: #000;
$white: #fff;

$primary1: #8A0C1D;
$primary2: #FF7F00;
$primary3: #FF7D02;

$primary4: #612A12;
$primary5: #919EAB;
$primary6: #D4DBE4;
$primary7: #A9A9A9;
$primary8: #FEFD00;

$primary9: #ED2349;
$primary10: #313998;
$primary11: #E0283F;
$primary12: rgba(224, 40, 63, 0.6);

$font-main: 'Montserrat';
$font-medium: 'Montserrat Medium';
$font-bold: 'Montserrat Bold';